*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 118, 210);
}

nav {
  background-color: rgb(25, 118, 210);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav div img { 
  width: 120px;
  margin-left: 10rem;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: white;
  font-weight: 600;
  padding: 8px 0;
  margin-right: 4rem;
  transition: all;
  transition-duration: 310ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.home {
    text-align: left;
    padding: 10cm;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home h1 {
    color: white;
    
}

.home h2 {
    color: rgb(0, 215, 158);
}

.home p {
    color: white;
}

.home img {
    align-items: center;
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(0, 215, 158);
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
}

.about {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about h1 {
    padding-top: 20px;
    text-align: center;
}

